In [28]:
import warnings
import itertools
import numpy as np
import matplotlib.pyplot as plt
import xlrd
import os
import pandas as pd
import statsmodels.api as sm
import matplotlib

def cate_to_score(x):
    if x == 'Furniture':
        return 1
    elif x == 'Office Supplies':
        return 2
    elif x == 'Technology':
        return 3
    else:
        return 0
def accuracy_score(pred,y_test,reg) :
    error_rate=((pred-y_test)**2).mean()/y_test.sum()
    accuracy=1-error_rate
    return accuracy

In [29]:
df=pd.read_excel(' Superstore.xls')

In [30]:
feature_matrix=df[['Sales','Category']]
print (feature_matrix)

          Sales         Category
0      261.9600        Furniture
1      731.9400        Furniture
2       14.6200  Office Supplies
3      957.5775        Furniture
4       22.3680  Office Supplies
5       48.8600        Furniture
6        7.2800  Office Supplies
7      907.1520       Technology
8       18.5040  Office Supplies
9      114.9000  Office Supplies
10    1706.1840        Furniture
11     911.4240       Technology
12      15.5520  Office Supplies
13     407.9760  Office Supplies
14      68.8100  Office Supplies
15       2.5440  Office Supplies
16     665.8800  Office Supplies
17      55.5000  Office Supplies
18       8.5600  Office Supplies
19     213.4800       Technology
20      22.7200  Office Supplies
21      19.4600  Office Supplies
22      60.3400  Office Supplies
23      71.3720        Furniture
24    1044.6300        Furniture
25      11.6480  Office Supplies
26      90.5700       Technology
27    3083.4300        Furniture
28       9.6180  Office Supplies
29     124.2000        Furniture
...         ...              ...
9964    13.4000        Furniture
9965     4.9800  Office Supplies
9966   109.6900  Office Supplies
9967    40.2000  Office Supplies
9968   735.9800  Office Supplies
9969    22.7500  Office Supplies
9970   119.5600  Office Supplies
9971   140.7500  Office Supplies
9972    99.5680  Office Supplies
9973   271.9600       Technology
9974    18.6900  Office Supplies
9975    13.3600  Office Supplies
9976   249.5840       Technology
9977    13.8600  Office Supplies
9978    13.3760  Office Supplies
9979   437.4720  Office Supplies
9980    85.9800        Furniture
9981    16.5200  Office Supplies
9982    35.5600  Office Supplies
9983    97.9800       Technology
9984    31.5000  Office Supplies
9985    55.6000  Office Supplies
9986    36.2400       Technology
9987    79.9900       Technology
9988   206.1000       Technology
9989    25.2480        Furniture
9990    91.9600        Furniture
9991   258.5760       Technology
9992    29.6000  Office Supplies
9993   243.1600  Office Supplies

[9994 rows x 2 columns]

In [31]:
feature_matrix['Category'] = feature_matrix['Category'].apply(cate_to_score)

/home/keerthana/mainproject/lib/python3.5/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [32]:
feature_matrix

          Sales  Category
0      261.9600         1
1      731.9400         1
2       14.6200         2
3      957.5775         1
4       22.3680         2
5       48.8600         1
6        7.2800         2
7      907.1520         3
8       18.5040         2
9      114.9000         2
10    1706.1840         1
11     911.4240         3
12      15.5520         2
13     407.9760         2
14      68.8100         2
15       2.5440         2
16     665.8800         2
17      55.5000         2
18       8.5600         2
19     213.4800         3
20      22.7200         2
21      19.4600         2
22      60.3400         2
23      71.3720         1
24    1044.6300         1
25      11.6480         2
26      90.5700         3
27    3083.4300         1
28       9.6180         2
29     124.2000         1
...         ...       ...
9964    13.4000         1
9965     4.9800         2
9966   109.6900         2
9967    40.2000         2
9968   735.9800         2
9969    22.7500         2
9970   119.5600         2
9971   140.7500         2
9972    99.5680         2
9973   271.9600         3
9974    18.6900         2
9975    13.3600         2
9976   249.5840         3
9977    13.8600         2
9978    13.3760         2
9979   437.4720         2
9980    85.9800         1
9981    16.5200         2
9982    35.5600         2
9983    97.9800         3
9984    31.5000         2
9985    55.6000         2
9986    36.2400         3
9987    79.9900         3
9988   206.1000         3
9989    25.2480         1
9990    91.9600         1
9991   258.5760         3
9992    29.6000         2
9993   243.1600         2

[9994 rows x 2 columns]

In [33]:
result_matrix=df[['Profit']]
print(result_matrix)

         Profit
0       41.9136
1      219.5820
2        6.8714
3     -383.0310
4        2.5164
5       14.1694
6        1.9656
7       90.7152
8        5.7825
9       34.4700
10      85.3092
11      68.3568
12       5.4432
13     132.5922
14    -123.8580
15      -3.8160
16      13.3176
17       9.9900
18       2.4824
19      16.0110
20       7.3840
21       5.0596
22      15.6884
23      -1.0196
24     240.2649
25       4.2224
26      11.7741
27   -1665.0522
28      -7.0532
29      15.5250
...         ...
9964     6.4320
9965     2.3406
9966    51.5543
9967    18.0900
9968   331.1910
9969     6.5975
9970    54.9976
9971    42.2250
9972    33.6042
9973    27.1960
9974     5.2332
9975     6.4128
9976    31.1980
9977     0.0000
9978     4.6816
9979   153.1152
9980    22.3548
9981     5.3690
9982    16.7132
9983    27.4344
9984    15.1200
9985    16.1240
9986    15.2208
9987    28.7964
9988    55.6470
9989     4.1028
9990    15.6332
9991    19.3932
9992    13.3200
9993    72.9480

[9994 rows x 1 columns]

In [34]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(feature_matrix,result_matrix, train_size=0.80, random_state=1)

/home/keerthana/mainproject/lib/python3.5/site-packages/sklearn/model_selection/_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [35]:
from sklearn import linear_model
reg= linear_model.LinearRegression()

# Train the model using the training sets
reg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [36]:
pred=reg.predict(X_test)

In [38]:
accuracy_score(pred,y_test,reg)

Profit    0.636212
dtype: float64

In [39]:

import pickle 
  
# Save the trained model as a pickle string. 
saved_model = pickle.dumps(reg) 
  
# Load the pickled model 
knn_from_pickle = pickle.loads(saved_model) 
  
# Use the loaded pickled model to make predictions 
knn_from_pickle.predict(X_test)

array([[-10.83435208],
       [ -5.61000003],
       [ -6.99292536],
       ...,
       [ -3.51104229],
       [ -9.29546095],
       [-33.91867528]])

In [40]:
from sklearn.externals import joblib 
  
# Save the model as a pickle in a file 
joblib.dump(reg, 'filename.pkl')

['filename.pkl']

In [41]:
x=123
y='Technology'
data = [[x,y]] 
if y == 'Furniture':
    y=1
elif y == 'Office Supplies':
    y=2
elif y == 'Technology':
    y=3
else:
    y=0

In [42]:
data=[[x,y]]

In [43]:
data

[[123, 3]]

In [44]:
 new = pd.DataFrame(data, columns = ['Sales', 'Category'])

In [45]:
knn_from_joblib = joblib.load('filename.pkl')  
  
    # Use the loaded model to make predictions 
pre=knn_from_joblib.predict(new)

In [46]:
pre

array([[40.23444925]])